@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{

    margin: 0;
    padding: 0;
    font-size: 18px;
}
.header{
    position: sticky;
    background-color: rgb(204, 201, 25);
    color: white;
    height: 90px;
    display: flex;
    justify-content: space-between;
    top:0;
    box-sizing: border-box;
}
.imga{
    height: 88px;
    width: 112px;
    padding: 4px 0px;
}
.navbar{
    display: inline-flex;
    /* background-color: rgb(11, 238, 254); */
    color: white;
}

.navbar ul li{
    padding: 30px 20px;
    /* background-color: rgb(11, 238, 254); */
    color: white;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    font-weight: bolder;
    text-decoration: none;
}

.navbar ul li:hover{
    color:rgb(243, 32, 9);
    cursor: pointer;
}
.signin{
    padding: 20px;
}
.signin .btn1{
    background-color: transparent;
    border: none;
}
.signin .btn1 :hover{
    cursor: pointer;
    animation: zoom-in-zoom-out 1s ease infinite;
}
   @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
